__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

artifacts/*
!artifacts/.gitkeep

data/*
!data/.gitkeep

mlflow/*
!mlflow/.gitkeep

mlflow_artifacts/*
!mlflow_artifacts/.gitkeep
